/* Paleta de cores */
:root {
  --white: #f0eff4;
  --primary-lighten: #387f8b;
  --primary: #2c4d5d;
  --primary-darken: #042233;
  --black: #1e1e1e;
}

/* Fontes */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf");
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elementos base */

body {
  color: var(--black);
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #eeeeeeaa, #ffffffcc),
    url("../img/textura.jpg");
}

p {
  font-family: "Oswald";
}

header .container {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--black);
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

header .logo {
  width: 80%;
  margin-top: 10vh;
}

header .menu {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

header .menu a {
  color: var(--primary-lighten);
  text-decoration: none;
  transition: 0.3s ease all;
  font-size: 2.5vw;
  margin-top: 10px;
  font-weight: 600;
  outline: none;
  font-family: "Oswald";
}

header .menu a:hover {
  color: var(--white);
}

header .menu .disabled {
  color: var(--white);
  pointer-events: none;
}

header .icone-menu {
  display: none;
}

header i {
  color: white;
  margin-right: 15px;
  font-size: 5vh;
}

main .container {
  display: flex;
  width: 75.8vw;
  height: calc(100vh - 3vw);
  margin-left: 21.5vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

main #inicio .container {
  background: linear-gradient(to right, #dddddd60, #ffffff60),
    url("../img/home.jpg");
  background-size: cover;
  background-position: center;
}

main #sobre .container {
  display: flex;
  flex-direction: column;
}

main .sobre {
  background-color: var(--black);
  color: var(--white);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main .sobre h1 {
  padding: 1vh 3vw;
  font-size: 6vh;
  margin-left: -1.5vw;
  margin-right: -1.5vw;
  background-color: #042233aa;
}

main .sobre p {
  font-size: 3.5vh;
  padding: 0 1.5vw;
  text-align: justify;
}

main .banner {
  display: flex;
  background: linear-gradient(to right, #00000050, #00000080),
    url("../img/sobre-desktop.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 1.5vw;
  height: 57%;
  justify-content: center;
}

main .slogan {
  width: 80%;
}
