/* Paleta de cores */
:root {
  --white: #f0eff4;
  --primary-lighten: #387f8b;
  --primary: #2c4d5d;
  --primary-darken: #042233;
  --black: #1e1e1e;
}

/* Fontes */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf");
}

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1e1e1e;
  background-color: #f0eff4;
  font-family: "Oswald";
  background: linear-gradient(to right, #eeeeeeaa, #ffffffcc),
    url("../img/textura.jpg");
  font-size: 14px;
  width: calc(100vw - 10px);
}

.container {
  display: flex;
  flex-direction: column;
}

.menu {
  background-color: #1e1e1e;
  width: 100%;
  height: 8vh;
  color: #f0eff4;
  position: fixed;
  left: 0;
  top: 0;
}

.menu .header {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.header .logo {
  height: 6vh;
}

.header .icone-menu {
  display: flex;
  color: white;
  font-size: 6vh;
  background: #387f8b00;
  padding: 1vh 1.5vw;
  cursor: pointer;
  border: none;
  outline: 0;
}

.menu .botao-ativo {
  background: #387f8b;
}

.menu .itens {
  display: flex;
  background-color: #1e1e1e;
  border-top: 1px solid #2c4d5d;
  flex-direction: column;
}

.menu .disabled {
  display: none;
}

.menu .itens a {
  color: #387f8b;
  font-size: 5vh;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: ease all 0.3s;
}

.menu .itens a:hover {
  color: #f0eff4;
  background-color: #387f8b;
}

#inicio,
#sobre,
#servicos,
#clientes,
#contato {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
}

#inicio {
  margin-top: 8vh;
  align-items: center;
}

main .container {
  height: calc(92vh - 5vw);
  width: 95vw;
}

#inicio .container {
  justify-content: center;
  background: linear-gradient(to right, #aaaaaa80, #ffffff80),
    url("../img/home.jpg");
  background-size: cover;
  background-position: center;
}

.quem-somos,
.nossos-servicos,
.vem-ai,
.clientes,
.contato {
  background-color: #1e1e1e;
  color: #f0eff4;
  padding: 10px;
  text-align: justify;
}

h1 {
  font-size: 3.2rem;
  background: #042233aa;
  padding: 0 3vw;
  margin: 0 -3.5vw;
}

p {
  font-size: 1.3rem;
  padding: 5px 0;
}

.banner {
  height: 45%;
  margin-top: 2.5vw;
  background-color: linear-gradient(to right, #00000020, #00000050);
  background-image: url("../img/sobre-mobile.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slogan {
  width: 90vw;
}

.square img {
  height: 50px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #1e1e1e30;
}
::-webkit-scrollbar-thumb {
  background: #042233;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}
